@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
}

.navbar-fixed {
	@apply fixed z-[999] bg-white bg-opacity-70;
	backdrop-filter: blur(5px);
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.nav-menu {
	@apply text-base text-dark py-2 mx-8 flex group-hover:text-primary lg:group-hover:border-b-2 lg:group-hover:border-dark;
}

.hamburger-line {
	@apply w-full h-[2px] absolute block bg-dark transform transition duration-300 ease-in-out;
}

.hamburger-active>div>span:nth-child(1) {
	@apply -rotate-45 translate-y-0;
}

.hamburger-active>div>span:nth-child(2) {
	@apply scale-0;
}

.hamburger-active>div>span:nth-child(3) {
	@apply rotate-45 translate-y-0;
}
